.git
.github
.pytest_cache
.mypy_cache
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
*.log
.env
.env.*
build
dist
map_tile_cache
user_audio
config.toml
propview.db
flows_cred.json
node_modules
npm-debug.log
Thumbs.db
.DS_Store
